.sectionimg img{top:inherit !important; left:0 !important; transform:none !important;} 
.sectionimg-food img{top:inherit !important; left:0 !important; transform:none !important;}
.search-bar{ clear:both !important}
.affix{background:#272727 !important;}
.affix .dropdown-menu{ background:#272727 !important;}